/* Style for drop zone */
#drop-zone {
	width: 300px;
	height: 200px;
	border: 2px dashed #ccc;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 20px auto;
}

#drop-zone.highlight {
	border-color: #2185d0;
}

#drop-zone-text {
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 20px auto;
}
